.formControl.error input,
.formControl.error textarea{
    border: 1px solid red;
}

.formControl.error span{
    color: red;
}

.textarea{
    width: 300px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #00ffd6;
    outline: none;
}
