.nav {
    grid-area: n;
    background-color: #a4f37f;
}

.item{
    padding: 5px;
    margin: 10px 0px;
    padding-left: 20px;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}

.item a.active{
    color: #5c3af1;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    width: 100%;
}

.item a{
    color: #000000;
    text-decoration: none;
    display: block;
    width: 100%;
}

.item:last-child{
    margin-top: 30px;
}