.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "h h"
    "n c";
}

.header {
  grid-area: h;
  background-color: #f74242;
}

.header img {
  width: 30px;
}

.nav {
  grid-area: n;
  background-color: #a4f37f;
}

.content {
  grid-area: c;
  background-color: #83e4f5;
}

.content img {
  width: 100%;
  height: 200px;
}