.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{
    
}

.dialog.active{
    font-weight: bold;
    color: #ffffff;

}

.dialog{
    padding: 10px;
}

.messages{

}

.message{
    padding: 10px;
    color: #ec441a;
}